body {
  font-family: arial;
   width: 1400px;
   margin: 100px auto;
 }

h1 {
  color: red;
  font-size: 30;
}

h2 {
  color: green;
  font-size: 26;
}

h3 {
  color: blue;
  font-size: 26;
}

h4 {
  color: black;
  font-size: 26;
}

strong {
  color: brown;
  font-size: 22;
}

div {
  line-height: 200%;
}

img {
    max-width: 100%;
    max-height: 100%;
}
